/* CSS */

/* header and logo */
header {
	text-align: center;
	background: url("http://i.imgur.com/RIBH7Z4.png");
	background-size: cover;
	color: white;
}
h1 {
	font-size: 50px;
	margin: 0;
}
#logo {
	margin: 30px 0 0 0;
	border-radius: 50%;
	height: 150px;
	border: 10px solid #FFEEB0;
}

/* navigation bar */
#navbar {
	background-color: #EC2045;
	padding: 20px;
}
#navbar li {
	display: inline;
	padding: 19px 30px 19px 30px;
}
#navbar a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#navbar li:hover {
	background-color: #F26247;
}

/* body/content styling */
body {
	font-family: 'Oxygen', sans-serif;
}
article {
	width: 65%;
	padding: 10px;
	margin: 0 auto;
}
h3 {
	font-size: 20px;
	margin: 0;
}
article img {
	max-width: 100%;
	max-height: 300px;
	margin: 10px;
	border: 1px solid black;
}

/* footer */
footer {
	margin: 40px 0 0 0;
}
.stripe {
	display: block;
	height: 40px;
}
#red {
	background-color: #EC2045;
}
#orange {
	background-color: #F26247;
}
#green {
	background-color: #C7C12F;
}
#blue {
	background-color: #A2D49F;
}
